
html{
    font-size: 20px;
}
body{
    background-color: #f4f4f4;
    color: #333
    line-height: 1.5;
    font-family: "Teko", sans-serif;
}
.container {
    max-width: 90vw;
    margin: 0 auto;
}
header {
    background-color: #333;
    color: #fff ;
    padding: 10rem 0;
    text-align: center;
    background-image: url("../images/bread.jpg");
    background-repeat: no-repeat;
    /* background-position: 20px 40px: ;*/
    background-size: cover ;
    background-position: center
    font-size: 10px
}
h1 {
    font-size: 2rem
    /* 1rem is =16px */
}
nav ul li a{
    color: #fff;
    padding: 1rem;
    font-size: 1.2;
}

nav ul {
    list-style-type: none;
    padding: 0.7rem 0;
}
nav ul li {
    display: inline;
}
nav ul li a:hover{
    background-color: #fff;
    color: #333

}

#breakfast {
    max-width: 90%;
}
section{
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2{
    font-size: 1.8;
    margin: 10px;

}
h3{
    font-size: 1.5;
    margin-bottom: 5px;
}
aside{
    background-color: #7ee8c5;
    padding: 0.8rem;
    border-radius: 5px;
    margin-top: 1rem;
}

footer{
    text-align: center;
    background-color: #353633;
    color: #f4f4f4;
    padding: 0.8rem 0;
    margin-top: 1rem;
    border-radius: 5px;

}