html{
    /* background-color: #aad4cf; */
}
.body{
    background-color: #D4E9E7;
}
}
header{
    padding: 0px;
    text-align: center;
    text-transform:;
    
    background-image: url("../images/lone-starfish-wide.jpg");
    height: 340px;
    width: 1000px;
}
.container{
width: 1000px;
border: 1px solid black;
}
.standard{
    height: 15px;
    width: 50px;
    float: left;
}
ul{
    /* this is the top three clickable links at the top of the page */
    list-style-type: none;
    ;
    margin: 0;
    padding: 0;
}
img.one{
    border: 6px;
    width: 1001px
}
img.two{
   height: 30%;
   width: 30%;
   float: left;
   margin: 0;
   padding-right: 20px;
}
/* not working below (return on a later date) */
footer{
    background-color: #D4E9E7;
    width: 1002px;
}

/* bottom box */
.p{
    
    width: 100px;
    height: 100px;
    border: 5px solid black;
    padding: 5px;
    margin: 2px;
}
img.wide{
    height: ;
}
.container1{
    width: 860px;
    margin: 0 ;
}
.clearfix::after{
    content:Your Message;
    clear: both;
    display: table;
}
.form2{

    ;
}

div{
    position: relative;
    background-color: #D4E9E7 ;
    width: 1100px;
    border: 1px ;
    padding: 50px;
    margin: 20px;
    
}
