.body{
    background-color: #aad4cf;
}
header{
    background-color: #aad4cf;
}

.container{

}
.standard{
    height: 15px;
    width: 50px;
    float: left;
}
ul{
    /* this is the top three clickable links at the top of the page */
    list-style-type: none;
    ;
    margin: 0;
    padding: 0;
}
img.one{
    border: 6px;
    width: 400px
}
img.two{
   height: 20%;
   width: 20%;
}
/* not working below (return on a later date) */
.footer{
    float: right;
}
ul1{
    
}